go1==1.0.0
joblib==1.5.3
timm==1.0.26
annotated-doc==0.0.4
tqdm==4.67.3
peft==0.19.1
attrs==26.1.0
py-cpuinfo==9.0.0
urllib3==2.7.0
idna==3.13
pydantic==2.13.4
packaging==26.2
filelock==3.29.0
pandas==2.3.3
docstring_parser==0.18.0
h5py==3.16.0
sentry-sdk==2.59.0
httpcore==1.0.9
pynput==1.8.1
pfzy==0.3.4
ImageIO==2.37.3
hf-xet==1.5.0
nvidia-cuda-runtime-cu12==12.4.127
xxhash==3.7.0
Jinja2==3.1.6
go1==1.0.0
exceptiongroup==1.3.1
torchvision==0.21.0
gitdb==4.0.12
aiosignal==1.4.0
aiohttp==3.13.5
importlib_metadata==9.0.0
click==8.3.3
tensorboard==2.20.0
frozenlist==1.8.0
wcwidth==0.7.0
GitPython==3.1.50
jsonlines==4.0.0
nvidia-nvjitlink-cu12==12.4.127
multiprocess==0.70.16
psutil==7.2.2
fonttools==4.62.1
accelerate==1.13.0
pyzmq==27.1.0
inquirerpy==0.3.4
opencv-python==4.11.0.86
nvidia-cudnn-cu12==9.1.0.70
pyparsing==3.3.2
pillow==12.2.0
async-timeout==5.0.1
annotated-types==0.7.0
typing-inspect==0.9.0
antlr4-python3-runtime==4.9.3
yacs==0.1.8
contourpy==1.3.2
diffusers==0.38.0
certifi==2026.4.22
wheel==0.47.0
PySocks==1.7.1
scikit-learn==1.7.2
tzdata==2026.2
hjson==3.1.0
tensorboard-data-server==0.7.2
six==1.17.0
soupsieve==2.8.3
nvidia-cuda-cupti-cu12==12.4.127
fasteners==0.20
h11==0.16.0
uvicorn==0.46.0
typing-inspection==0.4.2
lerobot==0.1.0
opencv-python-headless==4.11.0.86
ninja==1.13.0
nvidia-nvtx-cu12==12.4.127
propcache==0.4.1
Farama-Notifications==0.0.6
setuptools==82.0.1
python-xlib==0.33
typing_extensions==4.15.0
safetensors==0.8.0rc0
zarr==2.18.3
beautifulsoup4==4.14.3
cffi==2.0.0
scipy==1.15.3
wandb==0.26.1
networkx==3.4.2
fastapi==0.136.1
Werkzeug==3.1.8
gymnasium==0.29.1
av==17.0.1
charset-normalizer==3.4.7
pymunk==6.11.1
json-numpy==2.1.1
huggingface_hub==0.36.2
protobuf==7.34.1
tokenizers==0.20.3
xpolicylab==0.0.1
datasets==3.6.0
pyarrow==24.0.0
tyro==1.0.13
cycler==0.12.1
anyio==4.13.0
nvidia-cuda-nvrtc-cu12==12.4.127
mypy_extensions==1.1.0
typeguard==4.5.1
numcodecs==0.13.1
transformers==4.46.3
omegaconf==2.3.0
imageio-ffmpeg==0.6.0
einops==0.8.2
einops-exts==0.0.4
deepspeed==0.15.4
grpcio==1.80.0
yarl==1.23.0
blinker==1.9.0
sentencepiece==0.2.1
bitsandbytes==0.49.2
nvidia-cublas-cu12==12.4.5.8
termcolor==3.3.0
fsspec==2025.3.0
nvidia-curand-cu12==10.3.5.147
torchcodec==0.11.1
evdev==1.9.3
dill==0.3.8
PyYAML==6.0.3
Flask==3.1.3
prompt_toolkit==3.0.52
mpmath==1.3.0
pydantic_core==2.46.4
zipp==3.23.1
matplotlib==3.10.9
torch==2.6.0
asciitree==0.3.3
absl-py==2.4.0
nvidia-cusparselt-cu12==0.6.2
starlette==1.0.0
kiwisolver==1.5.0
cloudpickle==3.1.2
pyyaml-include==1.4.1
nvidia-cusparse-cu12==12.3.1.170
pip==26.1.1
smmap==5.0.3
MarkupSafe==3.0.3
nvidia-cufft-cu12==11.2.1.3
platformdirs==4.9.6
pyserial==3.5
rerun-sdk==0.23.1
llvmlite==0.47.0
numba==0.65.1
multidict==6.7.1
triton==3.2.0
requests==2.33.1
cmake==4.3.2
gdown==6.0.0
regex==2026.4.4
draccus==0.10.0
deepdiff==9.0.0
mergedeep==1.3.4
aiohappyeyeballs==2.6.1
python-dateutil==2.9.0.post0
itsdangerous==2.2.0
pytz==2026.2
toml==0.10.2
Markdown==3.10.2
numpy==1.26.4
nvidia-cusolver-cu12==11.6.1.9
nvidia-nccl-cu12==2.21.5
httpx==0.28.1
pycparser==3.0
hf_transfer==0.1.9
orderly-set==5.5.0
msgpack==1.1.2
decord==0.6.0
threadpoolctl==3.6.0
sympy==1.13.1
jaraco.functools==4.4.0
importlib_metadata==8.7.1
backports.tarfile==1.2.0
zipp==3.23.0
autocommand==2.2.2
platformdirs==4.4.0
jaraco.text==4.0.0
jaraco.context==6.1.0
packaging==26.0
more-itertools==10.8.0
tomli==2.4.0
wheel==0.46.3
