/pretrained_ckpt/
/checkpoints/
/data/
/logs/
/MM_ABC/runs/
__pycache__/
*.py[cod]
*.egg-info/
.pytest_cache/
.cache/
.ms_upload_cache
wandb/
*.ckpt
*.pt
*.pth
*.safetensors
*.bin
*.distcp
*.hdf5
*.h5
*.parquet
*.mp4
*.npz
